body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: chartreuse;
}

.card-image-container {
  width: 100px;
  height: 100px;
  position: relative;
}

.card-front {
  transform: rotateY(0deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
}

.card-back {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100px;
  height: 100px;
  margin: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}
